<div class="divide-y font-serif">
  <section class="flex bg-slate-300 text-black">
    <div class="basis-1/2 flex flex-col mt-8 text-center text-3xl sm:text-5xl justify-center items-center gap-y-2">
      <p>Fresh.</p>
      <p>Delicious.</p>
      <p>Alive.</p>
    </div>
    <div class="basis-1/2 py-4">
      <%= image_tag "disp.jpg", width: "236", class: "mx-auto" %>
    </div>
  </section>
  <section class="py-20 flex">
    <div class="p-6 lg:px-32">
      <h3 class="font-semibold text-xl mb-3">Kombucha</h3>
      <p class="font-sans">A fermented tea drink that's tangy, fruity, and fizzy. Kombucha contains a plethora of probiotics — beneficial microbes critical for gut health. It can even help with <a href="https://www.mdpi.com/2077-0383/10/3/541" class="underline text-blue-500 hover:cursor-pointer">hangovers?</a></p>
    </div>
    <div class="p-6 lg:px-32">
      <h3 class="font-semibold text-xl mb-3">Kumar's Kombucha</h3>
      <p class="font-sans">My kombucha is homemade in batches. Unlike many other varieties, it only has fruit and fruit juice, with <strong>no added sugar</strong>. Not vinegary, acidic, or gross. </p>
    </div>
  </section>
  <section class="max-w-xl mx-auto font-sans px-2">
    <div class="mx-3">
      <h2 class="font-semibold text-xl mb-6 text-center">Frequently Asked Questions</h2>
      <div class="mb-4">
        <strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1">What flavors do you have?</strong>
        I'm making mango-peach right now. I plan to do something ginger-based or berry-based in the future.
      </div>
      <div class="mb-4">
        <strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1">How many calories in a bottle?</strong>
        Roughly 50-100 calories, based on store-bought kombuchas without added sugar.
      </div>
      <div class="mb-4">
        <strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1">What's in a bottle?</strong>
        Water, black tea, strawberry juice, kiwi juice, mango juice, peach juice
      </div>
      <div class="mb-4">
        <strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1">Is homemade kombucha safe?</strong>
    
        Yes, homemade kombucha is safe. I always check the batch for any signs of it going bad — if it does, I obviously won't sell it. Everything is handled with sanitized hands and equipment.
    
      </div>
      <div class="mb-4">
        <strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1">What's the gunk at the bottom?</strong>
    
        That's the healthiest part of the kombucha! Those are the probiotics that make the kombucha fizzy and tangy. They're completely fine to drink.
      </div>
      
    </div>
  </section>
</div>
<%= render "shared/footer" %>
    

