<div class="max-w-lg mx-auto text-center mt-12 px-4 text-lg">
  <p>Thank you. Your order is ready to be picked up.</p>
  <br>
  <p>Your pickup day is <span class="font-bold"><%= @pickup_day.capitalize %></span>. Please come to the <span class="font-bold">Elm between 2PM and 5PM</span> and text me at 551-795-4208 when you're here.</p>
</div>