<nav class="bg-stone-50">
  <%= link_to root_path do %> 
    <%= image_tag "logo.png", width: "180", class: "rounded-full mx-auto my-4" %>
  <% end %>
  <div class="flex justify-center gap-x-4 mt-3 sm:mt-0">
    
    <div class="flex text-center items-center justify-center sm:absolute sm:top-[96px] sm:right-[112px]">
      <%= link_to "Order", new_order_path, class: "font-semibold mr-5 bg-gradient-to-r from-purple-500 to-pink-500 text-transparent bg-clip-text" %>
      <%= link_to "Subscribe", new_email_path, class: "font-semibold bg-gradient-to-r from-blue-500 to-sky-500 text-transparent bg-clip-text" %>
    </div>
    <a href="mailto:varun.kumar@hey.com" class="sm:absolute sm:top-24 sm:right-8 font-semibold sm:mt-0">Contact</a>
  </div>
</nav>