<p>Thank you for your Kumar's Kombucha order! It's ready to pickup this week. </p>
<br>
<p>Your pickup day is <span class="font-bold"><%= @order.pickup_day.capitalize %></span>. Please come to the <span class="font-bold">Elm between 2PM and 5PM</span> and text me at 551-795-4208 when you're here.</p>
<br>
<p>If <%= @order.pickup_day.capitalize %> doesn't work for you anymore, please <%= mail_to "varun.kumar@hey.com", "email me", class: "text-purple-300 font-semibold" %> or text me at 551-795-4208.</p>