<p>Thank you for your Kumar's Kombucha order! It's ready to pickup this week.</p>
<br>
<p>Your pickup day is <span class="font-bold"><%= @order.pickup_day.capitalize %></span>. Please text me at 551-795-4208 to arrange pickup in the Branford Common Room.
<br>
<p>If <%= @order.pickup_day.capitalize %> doesn't work for you anymore, let me know.</p>