<p>You've subscribed to Kumar's Kombucha. You'll get an email whenever bottles from a new batch are ready to order (every week or so).</p>
<br>
<p class="text-sm">If you'd like to unsubscribe, <%= link_to "click here", unsubscribe_email_url(@email), class: "text-blue-500 underline" %>